{% extends "base.html" %}
{% load i18n static account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}

{% block content %}
    <section class="login container">
        {# TODO - Realizar a validação do formulário com javascript antes de submeter #}
        <form class="form__login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="form__login__error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="form__login__error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <input type="text" name="login" maxlength="150" id="id_login" value="{{ form.login.value|default_if_none:"" }}" required/>
                <label for="id_login">Nome de usuário</label>
                <span></span>
            </div>

            <div class="form-group">
                <input type="password" name="password" autocomplete="current-password" value="{{ form.password.value|default_if_none:"" }}" required="" id="id_password">
                <label for="id_password">Senha</label>
                <span></span>
            </div>

            <div class="form__login__buttons__remember">
                <label for="id_remember">Lembrar-me:</label>
                <input type="checkbox" name="remember" id="id_remember">
            </div>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="form-group form__login__buttons">
                <a class="button form__login__buttons__forgot-password" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="form__login__buttons__signin" type="submit">{% trans "Sign In" %}</button>
            </div>
        </form>
    </section>
{% endblock %}
