body {
    box-sizing: border-box;
    color: #4a4a4a;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(250, 250, 250);
}

.container {
    margin: 0 auto;
    max-width: 975px;
}

.form__logout {
    display: none;
}

@media only screen and (max-width: 975px) {
  .container {
    padding: 0 3px 0 3px;
  }
}

