.header {
    align-items: flex-start;
    border-bottom: 1px solid #d7ccba;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 0 1rem;
    width: 100%;
    background-color: rgb(255,255,255);
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 975px;
    align-items: center;
}

.header__user {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #d7ccba;
}

.header__logo {
    align-items: center;
    display: flex;
}

.header__logo__icone {
    height: 2rem;
}

.header__logo__texto {
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    text-shadow: 4px 4px 4px #aaa;
    white-space: nowrap;
}

.header__sign {
    display: flex;
}

.header__signin {
    background-color: #d7ccba;
    border-radius: 0.25rem;
    color: #4a4a4a;
    font-size: 0.75rem;
    font-weight: 600;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.header__signup {
    background-color: #4a4a4a;
    border-radius: 0.25rem;
    color: #d7ccba;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 1em;
}