{% load static i18n %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="{% static 'photos/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'photos/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'photos/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'shared/forms/css/forms.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/" class="header__logo">
                <img src="{% static 'photos/images/camera.svg' %}" class="header__logo__icone" alt="Logo de uma câmera"/>
                <h1 class="header__logo__texto">RC Fotografia</h1>
            </a>

            <div class="header__sign">
                {% if user.is_authenticated %}
                    {% if user.is_authenticated %}
                        <span class="header__user">{{ user.email }}</span>
                    {% endif %}

                    <a href="javascript: logout()" class="header__logout">
                        Sair
                    </a>
                {% else %}
                    <a href="/accounts/login/" class="header__signin">
                        {% trans "Sign In" %}
                    </a>
                {% endif %}
            </div>

        </div>
    </header>

    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}

    <form class="form__logout" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="/"/>
      <button id="signOutBtn" type="submit">Logout</button>
    </form>
    <script src="{% static 'account/js/login.js' %}"></script>

</body>
</html>
