<section class="gallery container">
    {% for photo in photos %}
        <img class="gallery__photo" loading=lazy src="{{ photo.image.url }}" alt="Image1"/>
    {% endfor %}

    {# Este loop tem o objeto de adicionar imagens invisiveis quando a quantidade de imagens não for multiplo de 3, para que o layout não quebre.  #}
    {% for _ in padding %}
        <img class="gallery__photo--invisible" alt="Photo" src="" />
    {% endfor %}
</section>

<div class="modal" id="photo-modal">
    <div class="modal-bg modal-exit"></div>
    <div class="modal-container">
        <img class="modal__img modal-exit" src="" alt="Big Photo"/>
    </div>
</div>