{% extends "base.html" %}
{% load static i18n %}

{% block head_title %} RC Fotografia {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'photos/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'photos/css/gallery.css' %}">
{% endblock %}

{% block content %}
    <section class="profile container">
        <section class="profile__image">
            {# TODO - buscar a image do cadastro do usuário #}
            <img src="{% static 'photos/images/profile.png' %}" alt="Foto de perfil do usuário"/>
        </section>

        <section class="profile__user">
            {# TODO - Obter o nome do cadastro do usuário #}
            <h1 class="profile__user__name">Renato Custódio</h1>

            {# TODO - Obter a bio do cadastro do usuário #}
            <p class="profile__user__bio">
                Fotógrafo especialista em ensaios sensuais e boudoir! 📸✨<br/>
                - Faça agora mesmo o seu orçamento e viva um momento único!<br/>
                - Reserve seu horário!<br/>
            </p>
        </section>
    </section>
    {% include 'photos/gallery.html' %}
    <script src="{% static 'photos/js/gallery.js' %}"></script>
{% endblock %}
