{% extends "base.html" %}
{% load static i18n %}

{% block head_title %} RC Fotografia {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'photos/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'photos/css/gallery.css' %}">
{% endblock %}

{% block content %}
    <section class="profile container">
        <section class="profile__image">
            <img src="{% static 'photos/images/profile.png' %}" alt="Foto de perfil do usuário"/>
        </section>

        <section class="profile__user">
            <h1 class="profile__user__name">Rafael Cunha</h1>
            <p class="profile__user__bio">
                Estúdio de fotografia, Ensaios e Eventos! 📸✨<br/>
                - Atendimento com hora marcada!<br/>
                - Reserve seu horário!<br/>
                - Fale comigo no WhatsApp
            </p>
        </section>
    </section>

    <section class="gallery container">
        <img class="gallery__photo" loading=lazy src="https://live.staticflickr.com/65535/52210400420_c088d6ebea_h.jpg" alt="Image1"/>
        <img class="gallery__photo" loading=lazy src="https://picsum.photos/300/300" alt="Image2"/>
        <img class="gallery__photo" loading=lazy src="https://picsum.photos/300/300" alt="Image2"/>
    </section>
{% endblock %}
